/* ESTILO GLOBAL PARA RESETEAR LOS VALORES DE TODA LA PAGINA*/
* {
    box-sizing: border-box;/*Sirve para q tanto el espaciado externo he interno sumen un solo espaciado*/
    margin: 0;/* Para q no aya margenes hacia fuera*/
    padding: 0;/*Para q no aya espaciados hacia dentro*/
    color: #000000;
}

body {
    background: #e7dede;/*Color del fondo de la pagina*/
    color: #000000;/*Color del texto de la pagina*/
    font-size: 16px;/*Tama単o de la funte de la pagina*/
    font-family: 'Oswald', sans-serif;/*Fuente de la pagina*/
}

a {
    color: #040404;/*Color de los enlaces*/
    text-decoration: none;/*Quitamos el subrayado de los enlaces*/
}

ul {
    list-style: none;/*asi quitamos los estilos por defecto*/
}

.container {
    width: 90%;/*Para q ocupe solo el 90% de la pagina*/
    margin: auto;/*asi centrtamos el elemento de la pagina*/
}

/*ESTILOS DE NAVEGACION ---> Navigation*/

.nav-main {
    font-size: 17px;/*tama単o de la funte*/
    display: flex;/*permite organizar los elementos*/
    justify-content: space-between;/*para ocupoar todo el espacio de la pagina asignada*/
    align-items: center;/*Centrar el elemento*/
    height: 60px;/*Agregamos un altura por defecto al navegador*/
    padding: 20px 0;/*Tama単o de margen de los elementos*/

}

.nav-brand {
    width: 70px;/*tama単o del logo o imagen*/
}

/*NAVEGACION IZQUIERDA----> nav left*/

.nav-main ul {
    display: flex;/*asi colocamos una a lado del otro*/
}

.nav-main ul li {
    padding: 10px;/*separamos los li o columnas*/
}

.nav-main ul li a {
    padding: 2px;/*asi ponemos espaciado en las opciones*/
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #ffffff;/*asi colocamos un efecto al pasar el mouse x las opciones*/
}

.nav-main ul.nav-menu {
    flex: 1;/*para colocar al inicio*/
    margin-left: 10px;/*para separar las opciones del logo*/
}

.menu-btn {
    position: absolute;
    cursor: pointer;/*Para simular q se a un boton y aparaesca en cursor*/
    top: 15px;
    right: 15px;/*colocamos a la derecha*/
    z-index: 2;/*para asegurarnos de q siempres este encima*/
    display: none;/*para ocultar icono de la barra*/
}


/*SHOWCASE - imagen principal de la pagina*/

hr {
    margin: 10px 0;/*separar el hr de las opciones y de  la imagen o showcase*/
}

.showcase {
    width: 100%;/*Ancho del espacio de la imagen o espacio del showcase*/
    height: 500px;/*alto del espacio del elemento*/
    background: url(/img/img-cRutas1.jpg) no-repeat center center/cover;/*Llamamos asi la imagen la centramos, evitamos q no se repita en el mismo lugar y q ocupe todo el espacio*/
    padding: 0px;/*separa de los elementos q se encuentran arriba*/
    margin-bottom: 20px;/*margen interno*/
    display: flex;/*sirve para centrar el texto q tenemos dentro del showcase*/
    flex-direction: column;/*para ubicar al texto debajo y centrado*/
    align-items: center;/*centramos el texto*/
    justify-content: flex-end;/*para colocarlo en la parte de abajo*/
    color: rgb(0, 0, 0);
}

.btn {
    cursor: pointer;/*para comvertirle a boton*/
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0;
}

.btn:hover {
    opacity: 0.9;/*cambia de color al colocar el mouse encima*/
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;/*para q el texto no este tan pegado*/
}

/*NOTICIAS DE TURISMO O new cards*/

.news-cards {
    display: grid;/*asi vamos a utilizar las grillas de CSS*/
    grid-template-columns: 1fr 1fr 1fr 1fr;/*asi podemos colocar en columnas*/
    gap: 25px;/*espaciado entre cada columna*/
    margin: 10px 0;/*margen interno de las columnas*/
}

.news-cards img {
    width: 100%;/*para adaptar las imagenes q no se vena muy grandes*/
    height: 180px;/*altura de las img*/
}

.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {
    text-decoration: underline;
}

/*ESTILOSDE BANER - Cards banner one*/

.cards-banner-one {
    width: 100%;
    height: 350px;
    background: url('/img/img-cRutas6.png') no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-one .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;
}

.cards-banner-one p,
.cards-banner-one h2{
    margin: 10px 0 20px 0;
}

/*ESTILOSDE BANER DOS- Cards banner two*/

.cards-banner-two {
    width: 100%;
    height: 350px;
    background: url('/img/img-cRutas7.jpg') no-repeat center center/cover;
}

.cards-banner-two div.content p,
.cards-banner-two div.content h2 {
    color: #e0e1e4;
}

.cards-banner-one .content {
    width: 50%;
    padding: 100px 0 0 30px;
    color: #ffffff;
}

/*seccion redes sociales*/
.social {
    margin: 50px;
}
.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

/*footer limks - pie de pagina de los links sociales*/
.footer-links {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.8;
}

/*footer - Estilos de pie de pagina de
 la informnacion de redes sociales*/
 .footer {
     background-color: #2f3640;
     color: #616161;
     font-size: 12px;
     padding: 20px 0;
     text-align: center;
     padding-bottom: 20px;
 }

 /*Estilos responsive para moviles*/
 @media (max-width: 700px) {

    .menu-btn {
        display: block;
    }
     .nav-main ul.nav-menu{/*estilos de la barra navegadora de opciones*/
         display: block;/*para estilo bloque*/
         position: absolute;/*para posicionarlo encima de todo*/
         top: 0;/*para pocisionarlo en la esquina*/
         left: 0;/*para q este en la isquierda*/
         background: #e0e1e4;
         height: 100%;/*altura q ocupa la barra de navegacion*/
         padding: 30px;
         opacity: .9;
         transform: translateX(-400px);/*para quitar el espaciado q deja*/
         transition: transform .5s ease-in-out;
     }

     .nav-main ul.nav-menu.show {/*Para q aparesca y desaparesca la barra*/
        transform: translateX(-20px);
     }

     .nav-main ul.nav-menu li {
         padding: 20px;
         font-size: 14px;
     }

     .nav-main ul.nav-menu-rigth {
         margin-right: 40px;/*para separar la del icono de buscar*/
     }

     .news-cards{
         grid-template-columns: repeat(2, 1fr);
     }

     .cards-banner-one content,
     .cards-banner-two .content {
         width: 80%;
     }

     .footer-links .footer-container {
         grid-template-columns: repeat(2, 1fr);
     }
 }

 .nav-menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.subtitulo{
    text-align: center;
}

.titulo{
    text-align: center;
}
#formItems{
align-items: center;
}

.nav-menu > li > a{
    display: block;
    padding: 15px 05px;
    text-decoration: none;
}
/*
.nav-menu > li:hover{
    background-color: red;
}*/

 @media (max-width: 500px){
     .news-cards {
         grid-template-columns: 1fr;
     }

     .news-cards img {
         height: 270px;
     }

     .cards-banner-one .content,
     .cards-banner-two .content {
         width: 100%;
         padding: 60px 20px;
     }

     .footer-links .footer-container {
         grid-template-columns: 1fr;
     }
 }