@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Noto+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --naranja: #ff8800;
    --morado: rgba(214, 55, 153, 0.808);
    --azul: #1968fc;
    --blanco: #f4fffd;
	--morado-oscuro: #33032d;
    --morado-claro: #531253;
    --gris: #eaeaea;
}

body {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}
p{
    font-size: 22px;
}


/*MENU y  Header */
.nav-inicio {
    background: none;
    box-shadow: none;  
}
.nav-wrapper {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 2rem;
    width: 90vw;
}
.nav-wrapper .brand-logo {
    color: black;
    font-weight: lighter;
}
.menu-nav a{
    color: black;
}
.menu-nav a:hover{
    background-color: var(--naranja);
    color: var(--blanco)
}

.menu{
    background-color: var(--naranja);
    width: 100%;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 950;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 50px;
}
.menu a{
    display: inline-block;
    padding: 5px 20px;
    font-size: 20px;
    margin: 0 10px;
    transition: .5s ease all;
    color: var(--blanco);
    text-decoration: none;
}
.menu a:hover {
    transform: translateY(18px);
    background-color: #ff8800b2;
    border-bottom: 1px solid black;
    letter-spacing: 3px;
}
/*main*/
.main-inicio .contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 93vw;
    align-items: center;
    margin-left: 25px;
    font-family: 'Noto Sans', sans-serif;
}
.abosulute-title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.abosulute-title h3{
    font-size: 5em;
    font-weight: bold;
    position: absolute;
    color: rgba(0, 0, 0, .2);
}
.main-inicio img{
    max-width: 100%;
    border-radius: 15%;
}
.main-inicio p {
    margin-bottom: 10px;
}
.main-inicio h1 {
    font-weight: bold;
}
.main-inicio  {
    text-align: center;
}
/*Slider img rotar*/

.img-rotar{
    padding-top: 80px;
    width: 80%;
    margin: auto;
    overflow: hidden;  /*Sirve para ocultar lo que esta fuera del elemento principal*/
}
.img-rotar ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite; /*animacion en secuencia*/
    animation-direction: alternate; /* para que regrese la animacion en orde*/
    animation-timing-function: ease-in;
}
.img-rotar li{
    width: 100%;
    list-style: none;
}
.img-rotar img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    animation: escalado 5.5s infinite alternate;
}
@keyframes escalado {
    to{
        transform: scale(1);
    }
    from {
        transform: scale(1.05);
    }
}
.img-rotar img:hover {
    filter: brightness(110%);

}
@keyframes cambio {
    0% {margin-left: 0;}   /*duracion*/
    20% {margin-left: 0;}

    25% {margin-left: -100%;}  /*tiempo de cambio 1 segundo*/
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


/*Section container*/
.ofrecemos{
    margin-bottom: 60px;
}
.subtitulo {
    font-size: 22px;
    color: var(--azul);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    z-index: 2; 
    text-transform: uppercase; /*todo a mayusculas*/
    margin-bottom: 20px;
}
.subtitulo span{
    background-color: var(--gris);
    padding: 0 15px;
    z-index: 99;
    position: relative; /*Para que se aplique el el z index */
}
/*linea de los subtitulos*/
.subtitulo::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--naranja);
    position: relative;
    top: -29px;
    z-index: 1;
}
.ofrecemos .titulo {
    width: 70%;
    font-size: 44px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
}

/*Galeria*/
.contenedor-categorias{
    padding: 40px 0;
}
.contenedor-categorias .categoria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contenedor-categorias .categoria a{
    color: var(--naranja);
    margin: 10px 20px;
    font-size: 18px;
    font-weight: bold;
}
.contenedor-categorias .categoria a.activo{
    color: #000;
}
/*Galeria grid*/
.grid {
    position: relative; /*para que funcione bien el grid*/
    width: 100%;

}
.grid .item {
    position: absolute;
    display: block;
    padding: 1;
    margin: 10px;
    width: calc(33.33% - 20px); /*calculo para ajustar las imagenes*/
}
.grid .item-contenido {
    position: relative;
}
.grid .item img {
    cursor: pointer;
    height: 300px;
    width: 300px;
    vertical-align: top;
    object-fit: cover;
}
.galeria{
    background: var(--gris);
}
.contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagenes {
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6 px rgba(0, 0, 0, .5);
    cursor: pointer;
}
.imagen-grande {
    position: fixed;
    background: rgb(0, 0, 0, .5);
    height: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transform: translate(100%); /*para ocultar*/
    transition: transform .2s ease-in-out
}
.show{
    transform: translate(0);
}
.img-agrandar {
    width: 60%;
    border-radius: 10px;
    z-index: 100;
    transition: transform .3s .2s;
}
.showImagen{
    transform: scale(1);
}
