@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Noto+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --naranja: #ff8800;
    --morado: rgba(214, 55, 153, 0.808);
    --azul: #1968fc;
    --blanco: #f4fffd;
	--morado-oscuro: #33032d;
    --morado-claro: #531253;
    --gris: #eaeaea;
}

body {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
p{
    font-size: 22px;
}

/*  Header */
.contenedor-header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo-quito.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor-header .fondo {
    width: 0%; /*Ocultamos este fondo para que cuando scrole el usuario se vea*/
    height: 100%;
    max-width: 100%;
    background-image: url(../img/QUITO.png);
    background-position: center;
    background-size: cover;
}
.contenedor-header .titulo {
    width: calc(100vw - 20px); /*funcion calc para calcular y quitar errores del navegador*/
    height: 100vh;
    font-size: 90px;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(68, 0, 255);
    mix-blend-mode: multiply;  /*Multiplica el color y lo hace trasparente*/
}
/*MENU*/
.menu{
    background-color: var(--naranja);
    width: 100%;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 60px;
}
.menu a{
    display: inline-block;
    padding: 10px 30px;
    font-size: 26px;
    margin: 0 10px;
    transition: .5s ease all;
    color: var(--blanco);
    text-decoration: none;
}
.menu a:hover {
    transform: translateY(18px);
    background-color: #ff8800;
    border-bottom: 1px solid black;
    letter-spacing: 3px;

}
/*main que ofrecemos*/
.ofrecemos{
    margin-bottom: 60px;
}
.subtitulo {
    font-size: 22px;
    color: var(--azul);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    z-index: 2; 
    text-transform: uppercase; /*todo a mayusculas*/
    margin-bottom: 20px;
}
.subtitulo span{
    background-color: var(--gris);
    padding: 0 15px;
    z-index: 99;
    position: relative; /*Para que se aplique el el z index */
}
.subtitulo::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--naranja);
    position: relative;
    top: -29px;
    z-index: 1;
}
.ofrecemos .titulo {
    width: 70%;
    font-size: 44px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
}