@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Noto+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --naranja: #ff8800;
    --morado: rgba(214, 55, 153, 0.808);
    --azul: #1968fc;
    --blanco: #f4fffd;
	--morado-oscuro: #33032d;
    --morado-claro: #531253;
    --gris: #eaeaea;
}
body{
    background-color: #A8A8A8;
    font-family: 'Noto Sans', sans-serif;
}
  
.contenedor{
    width: 600px;
    height: 350px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: inline-flex; 
}
.caja-atras{  
    background-color: #404040;
    width: 100%;
    height: 80%;
    position: absolute;
    transform: translate(0,-50%);
    top:50%;
    display: inline-flex;
}
  
.frontbox{
    background-color: var(--blanco);
    border-radius: 20px;
    height: 100%;
    width: 50%;
    z-index: 10;
    position: absolute;
    right:0;
    margin-right: 3%;
    margin-left: 3%;
    transition: right .8s ease-in-out;
}
  
.moving{
    right:45%;
}
  
.loginMsg, .signupMsg{
    width: 50%;
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
}
  
.loginMsg .title,
.signupMsg .title{
    font-weight: 300;
    font-size: 23px;
}
  
.loginMsg p,
.signupMsg p {
    font-weight: 100;
}
  
.textcontent{
    color: var(--blanco);
    margin-top:65px;
    margin-left: 12%;
}
  
.loginMsg button,
.signupMsg button {
    background-color: #404040;
    border: 2px solid white;
    border-radius: 10px;
    color: var(--blanco);
    font-size: 12px;
    box-sizing: content-box;
    font-weight: 300;
    padding:10px;
    margin-top: 20px;
}
  
  /* caja de adelante*/
.login, .signup{
    padding: 20px;
    text-align: center;
}
  
.login h2,
.signup h2 {
    color: var(--naranja);
    font-size:22px;
}
  
.inputbox{
    margin-top:30px; 
}
.login input, 
.signup input {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    border: none;
    margin-bottom:20px;
    font-size: 12px;
}
  
.login button,
.signup button{
    background-color: var(--naranja);
    border: none;
    color:white;
    font-size: 12px;
    font-weight: 300;
    box-sizing: content-box;
    padding:10px;
    border-radius: 10px;
    width: 60px;
    position: absolute;
    right:30px;
    bottom: 30px;
    cursor: pointer;
}
  
.login p {
    cursor: pointer;
    color:#404040;
    font-size:15px;
}
  
.loginMsg, .signupMsg{
    transition: opacity .8s ease-in-out;
}
  
.visibility{
    opacity: 0;
}
  
.hide{
  display: none;
}

/*Login */

body {
    margin: 0;
    padding: 0;
    background: url(../img/fondo4.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  .login-heder{
    color: #fff;
    text-align: center;
  
  }
  
  .login-box {
    width: 380px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: 2px;
    border-radius: 50px 0px;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }
  
  