* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --naranja: #ff8800;
  --morado: rgba(214, 55, 153, 0.808);
  --azul: #1968fc;
  --blanco: #f4fffd;
  --morado-oscuro: #33032d;
  --morado-claro: #531253;
  --gris: #eaeaea;
}
.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
}
.inicio {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  color: var(--blanco);
}
.nav-inicio {
  background: none;
  box-shadow: none;
  padding: 0;
}
.nav-wrapper {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
  width: 90vw;
}
.nav-wrapper .brand-logo {
  width: 65px;
  height: 65px;
  padding: 5px;
}

.menu-nav a {
  color: rgb(255, 255, 255);
}
.menu-nav a:hover {
  background-color: var(--naranja);
  color: black;
}
.inicio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url('../img/MundoOverlay.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}
.inicio-contenedor {
  max-width: 800px;
  padding: 100px 0;
  display: grid;
  grid-auto-rows: max-content;
  align-items: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}
.inicio-titulo {
  font-size: 3rem;
}
.inicio-parrafo {
  margin-bottom: 20px;
}
.btn-inicio {
  display: inline-block;
  background-color: var(--naranja);
  justify-self: center;
  color: var(--blanco);
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 30px;
}
.acerca {
  text-align: center;
}
.subtitulo {
  color: var(--azul);
  font-size: 2rem;
  margin-bottom: 25px;
}
.acerca-parrafo {
  line-height: 1.7;
}
.acerca-main {
  padding-top: 80px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.acerca-imgs {
  display: grid;
  gap: 1em;
  justify-content: center;
  width: 260px;
  overflow: hidden;
  margin: 0 auto;
}
.acerca-img {
  width: 60px;
  height: 60px;
}
.info {
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  overflow: hidden;
}
.info-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}
.info-imagen{
    max-width: 500px;
}
.info-img{
    width: 100%;
    display: block;
}
.info-parrafo{
    line-height: 1.7;
    margin-bottom: 15px;
}

