* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --naranja: #ff8800;
  --morado: rgba(214, 55, 153, 0.808);
  --azul: #1968fc;
  --blanco: #f4fffd;
  --morado-oscuro: #33032d;
  --morado-claro: #531253;
  --gris: #eaeaea;
}
.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
}
.inicio {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  color: var(--blanco);
}
.nav-inicio {
  background: none;
  box-shadow: none;
  padding: 0;
}
.nav-wrapper {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
  width: 90vw;
}
.nav-wrapper .brand-logo {
  width: 65px;
  height: 65px;
  padding: 5px;
}

.menu-nav a {
  color: rgb(255, 255, 255);
}
.menu-nav a:hover {
  background-color: var(--naranja);
  color: black;
}
.inicio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url('../img/MundoOverlay.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}
.inicio1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url('../img/img-cRutas4.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}
.inicio3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url('../img/carolina.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}
.inicio-contenedor {
  max-width: 800px;
  padding: 100px 0;
  display: grid;
  grid-auto-rows: max-content;
  align-items: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}
.inicio-titulo {
  font-size: 3rem;
}
.inicio-parrafo {
  margin-bottom: 20px;
}
.inicio1 .inicio-titulo {
  font-size: 3rem;
  color: var(--blanco);
}
.inicio1 .inicio-parrafo {
  margin-bottom: 20px;
  color: var(--blanco);
}
.inicio3 .inicio-titulo {
  font-size: 3rem;
  color: var(--blanco);
}
.inicio3 .inicio-parrafo {
  margin-bottom: 20px;
  color: var(--blanco);
}
.btn-inicio {
  display: inline-block;
  background-color: var(--naranja);
  justify-self: center;
  color: var(--blanco);
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 30px;
}
.acerca {
  text-align: center;
}
.subtitulo {
  color: var(--azul);
  font-size: 2rem;
}
.acerca-parrafo {
  line-height: 1.7;
}
.info {
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  overflow: hidden;
}
.info-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}
.info-imagen{
    max-width: 500px;
}
.info-img{
    width: 100%;
    display: block;
}
.info-parrafo{
    line-height: 1.7;
    margin-bottom: 15px;
}
/*FOOTER pie de pagina*/
footer .redes-sociales {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 15px;
  flex-wrap: wrap;
}

footer .redes-sociales a {
  display: block;
  width: 50px;
  height: 50px;
  background: #000;
  color: #fff;
  margin: 20px;
  text-align: center;
  border-radius: 100px;
  transition: 0.3s ease all;
}

.redes-sociales .twitter {
  background: #1da1f2;
}
.redes-sociales .facebook {
  background: #3b5998;
}
.redes-sociales .instagram {
  background: #c13584;
}

footer .redes-sociales a i {
  font-size: 25px;
  line-height: 50px;
}

footer .contenedor-icono:hover a {
  animation: iconos 0.5s ease;
}

@keyframes iconos {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg); /*en que sentido rota*/
  }
}

footer .creador {
  margin-bottom: 40px;
  text-align: center;
  font-size: 14px;
  color: #c13584;
}

footer .creador a {
  color: #000;
}
footer .creador a:hover {
  text-decoration: underline;
}

