*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --naranja: #ff8800;
    --morado: rgba(214, 55, 153, 0.808);
    --azul: #1968fc;
    --blanco: #f4fffd;
	--morado-oscuro: #33032d;
    --morado-claro: #531253;
    --gris: #eaeaea;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    color: var(--blanco);
}
.inicio{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    color: var(--blanco);
}
.nav-inicio {
    background: none;
    box-shadow: none;
    padding: 0;
}
.nav-wrapper {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 2rem;
    width: 90vw;
}
.nav-wrapper .brand-logo {
    color: var(--blanco);
    font-weight: lighter;
}
.menu-nav a{
    color: rgb(255, 255, 255);
}
.menu-nav a:hover{
    background-color: var(--naranja);
    color: black;
}
.inicio::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/MundoOverlay.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}
.inicio-contenedor {
    max-width: 800px;
    padding: 100px 0;
    display: grid;
    grid-auto-rows: max-content;
    align-items: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}